/.idea/
/.vscode/
*.iml
*.ipr
*.iws

/target/
/logs/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.tmp
*.bak
*.swp
*~.nib
*.orig

.DS_Store
Thumbs.db

/settings/
*.prefs

!target/*.jar
target/*.jar.*

/.mvn/
mvnw
mvnw.cmd

/server/
/run/
/plugins/
/world*/
/logs/
*.log

.build_number